@import '../../utilities/variables.scss';


.home {
    background-color: $main;
    background-color: $dark;
    color: $accent;
    font-family: 'Oswald', 'Helvetica';
    .landing {
        background: $darker;
        position: relative;
        height: 500px;
        .right_slider {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 70%;
        }
        .slider_btns{
            position: absolute;
            bottom:0;
            right: 0;
            width: 70%;
            height: 100px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            z-index: 5;
            button {
                margin: 5px;
                height: 20px;
                width: 20px;
                outline: none;
                cursor: pointer;
                border: 4px solid $white;
                border-radius: 2px;
                padding:0;
            }
            .open {
                background: rgba(0,0,0,0)
            }
            .fill {
                background: $white;
            }
        }
        .right {
            top: 0;
            right: 0;
        }
        .left{
            left: 0;
            top: 0;
        }
        .img {
            z-index: 0;
            height: 100%;
            position: absolute;
            background-size: cover;
        }
        .weld {
            background-image: url('../../media/weld.jpg');
            width: 70%;
        }
        .saw {
            background-image: url('../../media/saw.jpg');
            width: 70%;
        }
        .blurb_mid{
            height: 300px;
            margin-top: -150px;
        }
        .blurb_tall{
            height: 400px;
            margin-top: -200px;
        }
        .blurb {
            // border: 1px solid white;
            position: absolute;
            width: 40%;
            top: 50%;
            right: 0;
            padding: 40px;
            color:$white;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-around;
            h2{
                font-size: 3.4em;
                // margin-bottom: 20px;
            }
            h3{
                font-size: 1.5em;
            }
            button{
                position: relative;
                padding:12px 22px;
                font-size: 1.9em;
                border:none;
                border-radius: 4px;
                cursor: pointer;
            }
            .accent{
                background: $accent;
                color: $white;
                transition: all .2s;
                &:hover{
                    background: $accent_dark;
                    // color:$white;
                }
            }
        }
        .overlay {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            right: 0;
            overflow: hidden;
            .angled {
                position: absolute;
                right: -30%;
                top: 0;
                width: 70%;
                height: 100%;
                // background: $darker;
                background: $gradient_dark;
                transform: skewX(-20deg)
            }
            .gradient {
                position: absolute;
                right: 25%;
                top: 0;
                width: 45%;
                height: 100%;
                background: linear-gradient(90deg, $dark, rgba(0,0,0,0))
            }
            .gradient_dark {
                position: absolute;
                right: 25%;
                top: 0;
                width: 45%;
                height: 100%;
                background: linear-gradient(90deg, $darkest, rgba(0,0,0,0));
            }
            .block {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 30%;
                background: $dark;
                // border: 1px solid white; 
            }
            .block_dark {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 30%;
                background: $darkest;
            }
        }
        .overlay_transition{
            background: rgba(0,0,0,0);
            animation-name: cover_uncover;
            animation-duration: 1s;
        }
        @keyframes cover_uncover {
            0%{
                background: rgba(0,0,0,0)
            }
            45%{
                background: $darkest;
            }
            55%{
                background: $darkest;
            }
            100%{
                background: rgba(0,0,0,0);
            }
        }
    }
    .article {
        // margin: 0 270px;
        background-color: $dark;
        padding: 35px;
        font-size: 20px;
        color: $white;
        text-align: left;
        word-break: break-all;
        min-height: 40vh;
    }
    footer{
        background: $darkest;
        font-size: .8em;
        padding: 50px;
        color: white;
    }
}