@import url("https://fonts.googleapis.com/css?family=Oswald");
.shaddow {
  box-shadow: 0 0 40px #101213; }

.nav {
  z-index: 10;
  background: linear-gradient(90deg, #ff5100, #ff6600);
  font-family: 'Oswald', 'Helvetica';
  position: fixed;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(10, 10FR);
  transition: all .5s; }
  .nav:hover {
    box-shadow: none; }
  .nav button, .nav h1, .nav .gap {
    font-family: inherit;
    padding: 18px;
    border: none;
    color: #242a2c; }
  .nav button {
    background: transparent;
    width: 100%;
    transition: all .25s;
    font-size: 1.6em;
    position: relative;
    cursor: pointer;
    color: #242a2c;
    outline: none;
    font-weight: 600;
    letter-spacing: 1.5px; }
    .nav button:hover {
      color: #f0f0f0; }
      .nav button:hover div:nth-child(1) {
        width: 50%; }
      .nav button:hover div:nth-child(2) {
        width: 50%;
        margin-left: -50%; }
    .nav button div {
      position: absolute;
      left: 50%;
      bottom: -5px;
      background: #f0f0f0;
      height: 5px;
      width: 0%;
      transition: all .3s; }
  .nav .nav_highlight {
    color: #f0f0f0; }
    .nav .nav_highlight div:nth-child(1) {
      width: 50%; }
    .nav .nav_highlight div:nth-child(2) {
      width: 50%;
      margin-left: -50%; }
  .nav h1 {
    grid-column: 1/5;
    font-size: 2.2em;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 900; }
  .nav img {
    grid-column: 1/5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 5px 10px; }
  .nav .gap {
    grid-column: 5/7; }
